body {
  margin: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  display: flex;
  z-index: 2;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  background: #000 url(images/banner-bg.jpg) no-repeat;
  background-size: cover;
  margin-bottom: 2.5%;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.logo {
  position: absolute;
  z-index: 2;
  top: 6.38%; 
  left: 15%;
  width: 10.8%;
  height: 2.47%;
}

.menu {
  position: absolute;
  z-index: 2;
  top: 4.5%;
  right: 15%;
  font: 13px OpenSans-Regular, sans-serif;
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: none; 
  align-items: center; 
  position: absolute;
  top: 45%;
  right: -19.5%;  
  width: 23px;
  height: 23px;  
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
  display: block;
  position: absolute;  
  width: 100%;
  height: 2px;  
  background-color: white;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu_list {
  visibility: visible;
  left: 0;
}

.menu_list {
  display: flex;
  margin: 0;
  list-style-type: none; 
  visibility: visible;
}

.menu_item {
  margin-left: 35px;
}

.menu_link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.menu_link:hover {
  text-decoration: underline;
}

.header_title {
  position: relative;
  z-index: 2;
  width: 42.16%;
  margin: 10.5% auto 7.53%;
  font: 45px/75px OpenSans-Bold, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}

@font-face {
  font-family: OpenSans-Bold;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

.trends {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3.75%;
  text-align: left;
}

.trends_header, .shop_header {
  width: 100%;
  text-transform: uppercase;
  font: 20px OpenSans-Bold, sans-serif;
  text-align: center;
  color: #0f0d0e;
}

.trends_header::after, .shop_header::after {
  content: "";
  display: block;
  width: 66px;
  margin: 0.5% auto 0.6%;
  opacity: 0.4;
  border-top: 3px solid #b59f5b;
}

.trend {
  position: relative;
  width: calc(25% - 3px);
  display: flex;
  align-items: flex-end;
  margin: 0;
/*   padding: 0 2% 2%; */
}

.trend::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}  

.trend:nth-of-type(n+2) {
  margin-left: 4px;
}

.trend-first {
  background: #000 url(images/trend1.jpg) no-repeat center/cover;
}

.trend-second {
  background: #000 url(images/trend2.jpg) no-repeat center/cover;
}

.trend-third {
  background: #000 url(images/trend3.jpg) no-repeat center/cover;
}

.trend-four {
  background: #000 url(images/trend4.jpg) no-repeat center/cover;
}

.trend_content {
  width: 100%;
  border: 3px solid #b59f5b;
  margin: 33% 5% 3.5%;
  padding: 8%;
  box-sizing: border-box;
  z-index: 2;
}

.trend_content_title {
  text-transform: uppercase;
  line-height: 24px;
  color: #ffffff;
  margin: 2% 0 0;
}

.trend_content_link {
  text-decoration: none;
  text-transform: uppercase; 
  font: 20px OpenSans-Bold, sans-serif;
  line-height: 0;
  color: #ffffff;
}

.trend_content_link:hover, .post_list_link:hover {
  color: #b59f5b;
}

.box {
  max-width: 70.5%;
  display: flex;
  padding-left: 1.25%;
  padding-right: 1.25%;
}

.page {
  width: 71%;
  text-align: left;
}

.post_list {
  display: flex;
  margin-bottom: 6.8%;
  flex-wrap: wrap;
}

.post_list_pictures {
  width: 50%;
}

.post_list_picture {
  width: 100%;
  margin-top: 0.26%;
}

.post_list_content {
  width: 46%;
  margin-left: 3.5%;
}

.post_list_items, .trend_items {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.post_list_item, .trend_item {
  display: inline-block;
  margin-right: 5%;
}

.post_list_meta, .trend_item_meta {
  text-decoration: none;
  text-transform: uppercase;
  font: 14px OpenSans-Bold, sans-serif;
  color: #b59f5b;
}

.post_list_meta:hover, .trend_item_meta:hover {
  text-decoration: underline;
}

.post_list_title {
  margin-top: 1%;
  margin-bottom: 7.2%;
  line-height: 24px;
}

.post_list_link {
  text-decoration: none;
  text-transform: uppercase; 
  font: 20px OpenSans-Bold, sans-serif;
  line-height: 0;
  color: #0f0d0e;
}

.post_list_date, .newpost_date {
  margin-right: 2.2%;
  font: 12px OpenSans-Regular, sans-serif;
  color: #888888;
}

.post_list_autor {
  display: inline-block;
  margin-top: 1.1%;
  margin-bottom: 0;
  font: 12px OpenSans-Bold, sans-serif;
  color: #000000;
}

.post_list_text {
  margin-top: 12.4%;
  margin-bottom: 3.5%;
  font: 15px/22px OpenSans-Regular, sans-serif;
  color: #0f0d0e;
}

.post_list_text-first {
  margin-bottom: 0;
  font: 15px/22px OpenSans-Regular, sans-serif;
  color: #0f0d0e;
}

.sidebar {
  text-align: left;
  width: 25%;
  margin-left: 11.5%;
}

.newposts {
  margin-bottom: 20.2%;
}

.newposts_header, .tags_header, .categories_header {
  margin-top: -1.83%;
  margin-bottom: 0;
  padding-left: 2%;
  text-transform: uppercase;
  font: 14px OpenSans-Bold, sans-serif;
  text-align: center;
  color: #0f0d0e;
}

.newposts_header::after, .subscribe_header::after, .tags_header::after, .categories_header::after, .popup_header::after {
  content: "";
  display: block;
  width: 25%;
  margin: 4% auto 11%;
  opacity: 0.4;
  border-top: 3px solid #b59f5b;
}

.newpost {
  display: flex;
  margin-bottom: 6.5%;
}

.newpost_pictures {
  width: 26%;
  margin-right: 6%;
}

.newpost_picture {
  width: 100%;
}

.newpost_content {
  width: 68%;
  margin-top: -2.5%;
}

.newpost_date {
  margin-left: 0;
}

.newpost_title {
  margin: 0;
  font: 14px OpenSans-Bold, sans-serif;
}

.newpost_link {
  text-decoration: none; 
  text-transform: uppercase;
  color: #000000;
}

.newpost_link:hover {
  color: #b59f5b;
}

.search_form {
  position: relative; 
}

.search_area, .subscribe_area {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 0 0 1% 6%; 
  background-color: #f3f7f5;
  border: none;
}

.search_area:focus, .subscribe_area:focus, #popup_select:focus, .textarea_text:focus {
  outline: none;
  border: 2px solid #b59f5b;
}

.search_area::placeholder, .subscribe_area::placeholder {
  font: 13px/40px OpenSans-Regular, sans-serif;
  opacity: 0.541;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} 

.search_button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px 15px;
  width: 48px;
  height: 48px;
  background-color: #b59f5b;
  border: none;
}

.search_button:hover, .subscribe_button:hover, .shop_button:hover, .popup_button:hover  {
  background-color: #323232;
}

.subscribe_header {
  margin-top: 21%;
  margin-bottom: 0;
  text-transform: uppercase;
  font: 14px OpenSans-Bold, sans-serif;
  text-align: center;
  color: #0f0d0e;
}

.subscribe_header::after {
  margin: 3.7% auto 8.2%;
}

.subscribe_area {
  padding: 0 0 1.1% 7.3%; 
}

.subscribe_button {
  width: 100%;
  height: 48px;
  margin-top: 6.25%;
  font: 14px OpenSans-Bold, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: #b59f5b;
}

.tags_header {
  margin-top: 21%;
  margin-bottom: 0;
}

.tags_header::after, .categories_header::after {
  margin: 4% auto 8.5%;
}

.tags_list {
  padding: 0;
}

.tags_item {
  display: inline-block;
  margin-top: 0.5%;
  margin-bottom: 1%;
  padding: 1% 4%;  
  background-color: rgba(244,243,241,0);
  border: 3px solid #eeeeee;
  list-style-type: none;
}

.tags_item:hover {
  border: 3px solid #b59f5b;
}

.tags_link {
  text-decoration: none;
  text-transform: uppercase;
  font: 12px OpenSans-Bold, sans-serif;
  color: #0f0d0e;
}

.categories_header {
  margin-top: 20%;
  margin-bottom: 0;
}

.categories_list {
  padding-left: 0;
}

.categories_item {
  display: flex;
  padding-bottom: 5%;
  border-bottom: 1px solid #eeeeee;
  list-style-type: none;
}

.categories_item:nth-child(n+2) {
  padding-top: 5.2%;
}

.categories_link {
  text-decoration: none;
  font: 14px OpenSans-Bold, sans-serif;
  color: #000000;
}

.categories_link:hover {
  color: #b59f5b;
}

.categories_amt {
  margin-left: 1%;
  font: 12px OpenSans-Bold, sans-serif;
  color: #b59f5b;
}

.shop {
  display: flex;
  max-width: 70.5%;
  flex-wrap: wrap;
  margin-bottom: 4.3%;
  padding: 0 1.25%;
}

.shop_header  {
  width: 100%;
  margin: 0;
  margin-top: 0.2%;
}

.shop_header::after {
  content: "";
  display: block;
  width: 66px;
  margin: 0.6% auto 2.5%;
  opacity: 0.4;
  border-top: 3px solid #b59f5b;
}

.shop_card {
  position: relative;
  width: 30%;
  box-sizing: border-box;
}

.shop_card:nth-of-type(n+2) {
  margin-left: 5%;
}

.shop_pictures {
  width: 100%;
  box-sizing: border-box;
  padding-left: 7.3%;
  padding-right: 7.3%;
}

.shop_picture {
  width: 100%;
}

.shop_content {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  text-align: left;
  border: 3px solid #b59f5b;
  height: 62%;
  padding: 13% 7% 4% 6%;
  margin-top: -9.5%;
}

.shop_title {
  font: 20px OpenSans-Bold, sans-serif;
  margin: 0;
  text-transform: uppercase;
  color: #0f0d0e;
}

.shop_text {
  font: 15px OpenSans-Regular, sans-serif;
  color: #0f0d0e;
  margin-top: 1.8%;
  margin-bottom: 8%;
}

.shop_link {
  color: #b59f5b;
  text-decoration: none;
}

.shop_link:hover {
  text-decoration: underline; 
}

.shop_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-old {
  align-items: flex-end;
}

.shop_prices {
  display: flex;
  flex-direction: column;
}

.shop_oldprice {
  font: 14px OpenSans-Bold, sans-serif;
  text-decoration: line-through;
  color: #0f0d0e;
  font-weight: bold;
  line-height: 1;
}

.shop_price {
  font: 20px OpenSans-Bold, sans-serif;
  color: #0f0d0e;
  font-weight: bold;
  line-height: 1;
}

.shop_button {
  width: 47%;
  height: 50px;
  font: 14px OpenSans-Bold, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: #b59f5b;
}

.footer {
  width: 70.5%;
  padding: 0 1.25%;
  margin: 0.4% auto;
}

.socials {
  display: flex;
  justify-content: center;
  background-color: #f4f7f6;
}

.socials_list {
  display: flex;
  padding: 0;
  list-style-type: none;
}

.socials_item {
  width: 20px;
  height: 20px;
  margin-top: 13%;
  margin-bottom: 13%;
}

.socials_item:nth-child(n+2) {
  margin-left: 26px;
}

.copyright {
  display: block;
  margin-top: 70px;
  margin-left: 15px;
  text-align: center;
  font: 12px OpenSans-Bold, sans-serif;
  text-decoration: none;
  color: #999999;
}

.popup_box {
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  opacity: 0;
  visibility: hidden;
}

.popup_box:target {
  opacity: 1;
  visibility: visible;
  transition: all 0.8s ease 0s;
}

.popup {
  position: relative;
  width: 23.5%;
  background: white;
  margin-top: 14.7%;
}

.popup_label {
  position: absolute;
  top: -40px;
  right: 0;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.popup_header {
  text-transform: uppercase;
  font: 20px OpenSans-Bold, sans-serif;
  text-align: center;
  color: #0f0d0e;
  margin-top: 12%;
}

.popup_header::after {
  content: "";
  display: block;
  width: 17%;
  margin: 2% auto 6.5%;
  opacity: 0.4;
  border-top: 3px solid #b59f5b;
}

.popup_content {
  display: flex;
  flex-direction: column;
  padding: 0 8% 52px;
  text-align: left;
}

.popup_select-title, .popup_radio-title, .popup_text, .textarea_text, .popup_radio-header {
  font: 13px OpenSans-Regular, sans-serif;
  color: #000000;
}

#popup_select {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 5.9%;
  height: 48px;
  opacity: 0.541;
  font: 13px OpenSans-Regular, sans-serif;
  color: #000000;
  margin: 2.3% 0 9%;
  border: none;
  background: #f4f7f6 url(svg/form-arrows.svg) no-repeat;
  background-size: 10px;
  background-position: right 3% center;
}

.popup_radio-header {
  position: relative;
  margin-bottom: 2%;
}

.popup_radio-group {
  display: flex;
}

.popup_radio-form {
  margin-bottom: 9%;
}

.popup_radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.popup_radio-form:nth-child(n+2) {
  margin-left: 4.9%;
}

.popup_radio-title::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url(svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 17px;
  vertical-align: middle;
  margin-right: 5px;
}

.popup_radio:checked + .popup_radio-title::before {
  background-image: url(svg/form-circle.svg);
}

.textarea_text {
  margin-top: 2%;
  margin-bottom: 7%;
  padding: 5% 6%;
  width: 100%;
  height: 130px;
  box-sizing: border-box;
  background-color: #f4f7f6;
  resize: none;
  border: none;
}

.popup_button {
  width: 100%;
  height: 48px;
  font: 14px OpenSans-Bold, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: #b59f5b;
}  

@media (max-width: 1199px) {
  .header {
    background: #000 url(images/banner-bg-tablet.jpg) no-repeat;
    background-size: cover;
    margin-bottom: 3.9%;
  }

  .logo {
    width: 20%;
    top: 8%;
    left: 5%;
  }

  .menu_list {
    visibility: hidden;
  }

  .menu_item {
    margin-left: 15px;
  }

  .menu__btn {
    display: flex;
  }

  .header_title {
    width: 80%;
    margin-top: 20.4%;
    margin-bottom: 14.6%;
    font: 40px/55px OpenSans-Bold, sans-serif;
  }

  .trends {
    margin-bottom: 6.5%;
  }

  .trends_header, .shop_header {
    font: 18px OpenSans-Bold, sans-serif;
  }

  .trends_header::after, .shop_header::after {
    margin: 9px auto 3px;
  }

  .trend {
    width: calc(50% - 1.5px);
    height: 247px;
/*     padding: 0 15px 2%; */
    box-sizing: border-box;
  }

  .trend:nth-of-type(2n+3) {
    margin-left: 0;
  }

  .trend:nth-of-type(1), .trend:nth-of-type(2) {
    margin-bottom: 4px;
  }

  .trend:nth-of-type(n+2) {
    margin-left: 0;
}

  .trend:nth-of-type(2n) {
    margin-left: 3px;
  }

/*   .trend_content {
    padding: 8%;
    padding-top: 9%;
    margin: 0;
  } */

  .trend_content_title {
    margin-top: 1%;
  }

  .trend_content_link {
    font: 17px OpenSans-Bold, sans-serif;
    line-height: 0px;
  }

  .post_list_pictures, .post_list_content {
    width: 100%;
    margin-left: 0;
  }

  .post_list_text-first {
    margin-top: 7%;
    margin-bottom: -3%;
  }

  .post_list_text {
    margin-top: 6.5%;
    padding-bottom: 5%;
    border-bottom: 3px solid #eeeeee;
  }

  .box {
    max-width: 90.5%;
    padding-left: 4.75%;
    padding-right: 4.75%;
  }

  .page {
    width: 56.3%;
  }

  .post_list_content {
    margin-top: 1%;
  }

  .post_list_title {
    margin-top: 1.6%;
    margin-bottom: 6.4%;
}

  .post_list_link {
    font: 17px OpenSans-Bold, sans-serif;
    line-height: 20px;
  }

  .sidebar {
    width: 38.68%;
    margin-left: 5%;
  }

  .shop {
    max-width: 90.5%;
    padding-left: 4.75%;
    padding-right: 4.75%;
    margin-bottom: 9.5%;
  }

  .shop_header::after {
    margin: 1.3% auto 4%;
  }

  .shop_card {
    width: 49%;
    margin: 0;
  }

  .shop_card:nth-of-type(2n+3) {
    margin-left: 0;
    margin-top: 10%;
  }

  .shop_card:nth-of-type(2n) {
    margin-left: 2%;
  }

  .shop_content {
    padding: 14% 7% 0 5.8%;
    margin-top: -11%;
  }

  .shop_title {
    font: 18px OpenSans-Bold, sans-serif;
  }

  .footer {
    width: 90.5%;
    padding-left: 4.75%;
    padding-right: 4.75%;
  }

  .copyright {
    margin-top: 6.8%;
  }

  .popup_box {
    overflow-y: auto;
  }

  .popup {
    width: 51%;
    margin-top: 25%;
  }

  .popup_label {
    top: -53px;
    font-size: 60px;
  }
  
  .popup_header {
    font: 18px OpenSans-Bold, sans-serif;
    margin-top: 13%;
  }

  .popup_radio-title::before {
    width: 26px;
    height: 26px;
    background-size: 26px;
  }

  .popup_radio-form:nth-child(n+2) {
    margin-left: 10%;
  }

  .popup_content {
    padding: 0 8% 14%;
  }
}

@media (max-width: 1199px) and (orientation: landscape) {
  .trend {
    width: calc(25% - 3px);
  }
  
  .trend:nth-of-type(n+2) {
    margin-left: 4px;
  }

  .shop_card:nth-of-type(2n+3) {
    margin-top: 10%;
  }
}

@media (max-width: 640px), (max-width: 926px) and (orientation: landscape) {
  .header {
    background: #000 url(images/banner-mobile.jpg) no-repeat;
    background-size: cover;
    margin-bottom: 3.9%;
  }

  .logo {
    width: 75%;
    top: 38%;
    left: 12%;
  }

  .menu_list {
    visibility: hidden;
    flex-direction: column;
    margin-top: 5%;
    text-align: left;
  }

  .menu_item {
    margin-left: 15px;
  }

  .menu__btn {
    display: flex;
    top: 0;
    right: -30%;
  }

  .header_title {
    width: 80%;
    margin-top: 95%;
    margin-bottom: 60%;
    font: 26px/36px OpenSans-Bold, sans-serif;
  }

  .trends {
    margin-bottom: 12%;
  }

  .trends_header, .shop_header {
    font: 16px OpenSans-Bold, sans-serif;
    margin-top: 6%;
  }

  .trends_header::after, .shop_header::after {
    margin: 9px auto 13px;
  }

  .trend {
    width: 100%;
    height: 235px;
    padding: 0 2.7% 2%;
    box-sizing: border-box;
  }

  .trend:nth-of-type(n) {
    margin: 0;
    margin-bottom: 0.8%;
  }

  .trend-first, .trend-second, .trend-third, .trend-four {
    background-position: bottom;
  }

  .trend_content {
    padding: 9% 5.5% 7%;
    margin: 3%;
  }

  .trend_content_title {
    margin-top: 2%;
  }

  .trend_content_link {
    font: 16px OpenSans-Bold, sans-serif;
    line-height: 0px;
  }

  .box {
    max-width: 100%;
    padding-left: 4.5%;
    padding-right: 4.5%;
    flex-wrap: wrap;
  }

  .page {
    width: 100%;
  }

  .post_list_pictures, .post_list_content {
    width: 100%;
  }

  .post_list_content {
    margin-top: 2%;
  }

  .post_list_title {
    margin-top: 1.6%;
    margin-bottom: 4%;
}

  .post_list_link {
    font: 16px OpenSans-Bold, sans-serif;
    line-height: 20px;
  }

  .post_list_text {
    margin-top: 4%;
    padding-bottom: 6.5%;
    border-bottom: 3px solid #eeeeee;
    font: 14px/20px OpenSans-Regular, sans-serif;
  }

  .post_list_text-first {
    font: 14px/20px OpenSans-Regular, sans-serif;
    margin-bottom: -3%;
  }

  .sidebar {
    width: 100%;
    margin-left: 0;
    }

  .newposts {
    margin-bottom: 18%;
  }

  .newposts_header {
    margin: 0;
    padding-left: 0;
    font: 16px OpenSans-Bold, sans-serif;
  }

  .newposts_header::after, .subscribe_header::after, .categories_header::after, .popup_header::after {
    width: 25%;
    margin: 2.5% auto 11%;
  }

  .newpost_pictures {
    width: 23%;
    margin-right: 5%;
  }
  
  .newpost_content {
    width: 77%;
    margin-top: -1.5%;
  }

  .subscribe_header {
    margin-top: 12%;
    margin-bottom: 0;
    font: 16px OpenSans-Bold, sans-serif;
  }
  
  .subscribe_header::after {
    margin: 3% auto 7%;
    width: 20%;
  }

  .tags_header {
    margin-top: 14%;
    margin-bottom: -4%;
    font: 16px OpenSans-Bold, sans-serif;
  }

  .tags_header::after {
    width: 20%;
    margin: 2.5% auto 11%;
  }

  .categories_header {
    margin-top: 10%;
    margin-bottom: 0;
    font: 16px OpenSans-Bold, sans-serif;
  }
  
  .shop {
    width: 100%;
    padding-left: 4.5%;
    padding-right: 4.5%;
    margin-bottom: 2%;
  }

  .shop_header::after {
    margin: 3% auto 8%;
  }

  .shop_card {
    width: 100%;
    margin-bottom: 20%;
  }

  .shop_card:nth-of-type(2n) {
    margin-left: 0;
  }

  .shop_card:nth-of-type(2n+3) {
    margin-top: -7%;
  }

  .shop_content {
    padding-bottom: 10%;
    height: 50%;
  }

  .shop_title {
    font: 16px OpenSans-Bold, sans-serif;
  }

  .no-old {
    margin-bottom: 10%;
  }

  .no-old .shop_price {
    padding-bottom: 15%;
}

  .footer {
    width: 100%;
    padding-left: 4.5%;
    padding-right: 4.5%;
  }

  .copyright {
    margin-top: 12%;
    margin-bottom: 5%;
  }

  .popup {
    width: 90%;
  }
  
  .popup_header {
    font: 16px OpenSans-Bold, sans-serif;
    margin-top: 8%;
  }

  .popup_radio-title::before {
    width: 22px;
    height: 22px;
    background-size: 22px;
  }

  .popup_content {
    padding: 0 8% 10%;
  }
}

@media (max-width: 926px) and (orientation: landscape) {
  .trend {
    width: calc(50% - 1.5px);
    height: 247px;
    padding: 0 2.7% 2%;
    box-sizing: border-box;
  }

  .trend:nth-of-type(2n) {
    margin-left: 3px;
  }
}
